/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
supervisord.log
supervisord.pid
.sass-cache
.DS_Store
.vscode
phpunit.xml
/public/*.php
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/js
/public/uploads
/public/covers
/public/mix-manifest.json
/storage/uploads
/public/spotlight-item
/public/daily-upload-to-gcp
/public/contact-us
/public/feed
/public/thumbs
/public/hny2018
/public/userfiles
/public/quiz
